<section class="our_ability"  >
    <div class="container-fluid"    >
       <div class="row">
           
        <div class="col-md-6 col-lg-6 imagg">
            <div class="our_ability_img">
                <img src="../../../../assets/image/security/image-for-data.png" alt="">
            </div>
        </div>
        <div class="col-md-6 col-lg-5 text "    >
            <div class="our_ability_member_text">
                <h2>NO CHANCE OF 
                    DATA MIXING
                </h2>
                <hr>
                <p>MentDoc uses separate infrastructure to keep patient data completely segregated from the doctors’ data, thereby ensuring complete segregation of data.
                    </p>
            </div>
 
    </div>
       </div>
    </div>
</section>