<body>
    <h1>IMAGE GALLERY</h1>
    <div class="gallery">
      <div class="image-box active">
        <img src="../../../../assets/image/gallery/action-athlete-carpet-2525055.jpg" alt="">
      </div>
      <div class="image-box">
        <img src="../../../../assets/image/gallery/adult-african-award-1153215.jpg" alt="">
      </div>
      <div class="image-box">
        <img src="../../../../assets/image/gallery/art-beautiful-beauty-2293102.jpg" alt="">
      </div>
      <div class="image-box">
        <img src="../../../../assets/image/gallery/black-and-white-black-and-white-celebration-1646730.jpg" alt="">
      </div>
      <div class="image-box">
        <img src="../../../../assets/image/gallery/bouquet-bride-bride-and-groom-2835322.jpg" alt="">
      </div>
     
    </div>
  </body>