
<section class="modals">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-service">
                    <div class="symbol">

                        <i class="fa fa-apple"></i>
                    </div>
                    <h3>OPD</h3>
                    <p>Resident patients’ records digitized Customized care & treatment Ease of educating patient and family/nominated representative/care-giver Monitoring Progress Digitally Meant for co-workers (psychologists and psychiatrists)</p>
            </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-service">
                    <div class="symbol">

                        <i class="fa fa-apple"></i>
                    </div>
                    <h3>IPD</h3>
                    <p>Resident patients’ records digitized Customized care & treatment Ease of educating patient and family/nominated representative/care-giver Monitoring Progress Digitally Meant for co-workers (psychologists and psychiatrists)</p>
            
                </div>
                </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-service">
                    <div class="symbol">

                        <h3 id="mainadress">
                            
                        </h3>
                    </div>
                    <h3>ICMS</h3>
                    <p>Resident patients’ records digitized Customized care & treatment Ease of educating patient and family/nominated representative/care-giver Monitoring Progress Digitally Meant for co-workers (psychologists and psychiatrists)</p>
          
                </div>

        </div>
    </div>
    </div>
</section>
