<body>
    <div class="services">
        
        <div class="cen">
            <div class="service">
                
                <h1>MentCom App page data</h1>
           
                            <div class="cushion-v">
                           
                                <a href="https://play.google.com/store/apps/details?id=com.mentcom.mentp" class="login" title="Login"><img src="../../assets/image/downlaod/ezgif-1-0536b5d33a6b.png" /></a>
 
                              </div>
                            
            </div>
            <div class="service">
                <img src="../../../assets/image/downlaod/ezgif-1-a250ae300d97.png">
                    
            </div>
          
                            
        </div>
        <div class="cen">
            <div class="service">
                    <img src="../../assets/image/downlaod/moblesecond.png">
                        
                </div>
              
        <div class="service">
            
            <h1>BOOK APPOINTMENT IN ONE CLICK</h1>
            
                        <div class="cushion-v">
                       
                            <a href="https://play.google.com/store/apps/details?id=com.mentcom.mentp" class="login" title="Login"><img src="../../assets/image/downlaod/ezgif-1-0536b5d33a6b.png" /></a>

                          </div>
                        

        </div>
        
                        
    </div>
    <div class="cen">
        <div class="service">
            
            <h1>ALL PRESCRIPTIONS AT ONE PLACE</h1>
                        <div class="cushion-v">
                       
                            <a href="https://play.google.com/store/apps/details?id=com.mentcom.mentp" class="login" title="Login"><img src="../../assets/image/downlaod/ezgif-1-0536b5d33a6b.png" /></a>

                          </div>
                          

        </div>
        <div class="service">
            <img src="../../assets/image/downlaod/ezgif-1-a250ae300d97.png">
                
        </div>
      
                        
    </div>
    <div class="cen">
        <div class="service">
                <img src="../../assets/image/downlaod/moblesecond.png">
                    
            </div>
          
    <div class="service">
        
        <h1>KNOWLEDGE POSTS BY DOCTORS TO KEEP YOU UPDATED</h1>
     
                    <div class="cushion-v">
                   
                        <a href="https://play.google.com/store/apps/details?id=com.mentcom.mentp" class="login" title="Login"><img src="../../assets/image/downlaod/ezgif-1-0536b5d33a6b.png" /></a>

                      </div>
                    

    </div>
    
                    
</div>
<div class="cen">
    <div class="service">
        
        <h1>SYMPTOM LOGS TO HELP DOCTOR UNDERSTAND YOUR REQUIREMENTS BOTH SAFELY AND QUICKLY</h1>
       
                    <div class="cushion-v">
                   
                        <a href="https://play.google.com/store/apps/details?id=com.mentcom.mentp" class="login" title="Login"><img src="../../assets/image/downlaod/ezgif-1-0536b5d33a6b.png" /></a>

                      </div>
                      

    </div>
    <div class="service">
        <img src="../../assets/image/downlaod/ezgif-1-a250ae300d97.png">
            
    </div>
  
                    
</div>


    </div>

</body>