<body>

 


<div class="w3-sidebar w3-bar-block w3-card w3-animate-right" style="display:none;right:0;" id="rightMenu">
  
  <button (click)="closeRightMenu()" class="w3-bar-item w3-button w3-large">Close &times;</button>
  <a routerLink="home" class="w3-bar-item w3-button">Home</a>
  <a routerLink="security" (click)="gotoSecurity()" class="w3-bar-item w3-button">Security</a>
  <a routerLink="admin" class="w3-bar-item w3-button">Admin</a>
</div>

<div class="w3-teal">
  
  <button class="w3-button w3-teal w3-xlarge w3-right" (click)="openRightMenu()">&#9776;</button>
  <div class="w3-container">
    
  </div>
</div>
<h1 (click)="gotoAdmin()" >admin</h1>
  
  </body>