body{
	margin:auto;
}
h3{
	text-align:center;
}
.main-content{
	top:55px;
	position:relative;
}
.header-part h3{
	text-align:center;
	display:block;
	padding:35px;
}
.header-part ul{
	margin: 0;
	padding: 0;
}
.header-part ul li::before{
	font-family: FontAwesome;
	content:"\f105";
	position:absolute;
	left:-15px;
	color:white;
}
.header-part ul li{
	line-height:2.0;
	font-size:1.5rem;
	list-style:none;
}
h3 span{
	font-size: 1.3rem;
    color: #999;
	display: block;
}
.leftmenutrigger i{
	color:#000;
}
.fixed-top.scrolled .leftmenutrigger i{
	color:#fff;
}
.fixed-top.scrolled {
    background-color: white !important;
    transition: background-color 600ms linear;
}
.navbar-brand{
	color:#000 !important;
}
.fixed-top.scrolled .navbar-brand{
	color:#fff !important;
}
.bg-dark{
	background-color:#fff !important;
}
.navbar-expand-lg .navbar-nav.side-nav{
	flex-direction: column;
	}

.leftmenutrigger{
	display: none
}


@media only screen and (max-width: 991px) {
.navbar-nav.side-nav.open{
	right:-222px;
}
.d-none{
	display:none !important;
}
} 
@media only screen and (min-width: 992px) {
.sm-none{
	display:none !important;
}
}
.navbar-collapse:not(.show){
display:inline;
}
.leftmenutrigger{
	display: block;
	display: block;
	margin: 7px 20px 4px 0;
	cursor: pointer;
	}


#wrapper{padding: 90px 15px 15px 15px; }
.navbar-nav.side-nav.open {
	right:0;
}
.navbar-nav.side-nav{
	background:#ffffff;
	position:fixed;
	box-shadow: 5px 2px 4px 5px rgba(0,0,0,0.1);
	top:56px; 
	border-left: 1px solid #ccc;
	flex-direction: column!important;
	right:-220px;width:200px;overflow-y:auto;
	overflow-x:hidden;
	padding-bottom:40px
}
.nav-item .nav-link{
	padding-left:20px !important;
}
.animate{
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out
	}

@media only screen and (max-width: 576px) {
  .box {
   margin-top:30px;
  }
  .box img{
	width:100px;
	}
.heder-img img
	{
		margin-top:25px;
	}
.header-part ul li::before{
	left:5px;
	}
.header-part ul li{
	padding-left:25px;
	}
}
.navbar-dark .navbar-nav .nav-link{
	color:#000;
	padding-left:15px;
	}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
	background:#fbfbfb;
	color:#000;
	}
