<body>
    


    <section class="modals">
            <div class="container-fluid">
                <div class="card">
                    <h2>Home / <span style="color: salmon" >Contact us</span></h2>
                </div>
                <div class="row text-center">
                        <div class="col-md-12">
                                <div class="single-service">
                                    <div class="symbol">
                
                                        <i class="fa fa-apple"></i>
                                    </div>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3505.877101407885!2d77.17368481440434!3d28.513345096217407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1e16c0ebad25%3A0xb11399a9afd53afc!2sTulasi%20Psychiatric%20%26%20rehab%20centre!5e0!3m2!1sen!2sin!4v1568183268147!5m2!1sen!2sin" width="95%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                                   <!-- <p class="text">
                                        <span style="font-weight:bold">MentDoc</span>is an integrated medical web based application suite for mental health professionals. The services catered by MentDoc have been designed solely for different mental health professionals like neurologists, psychiatrists, clinical psychologists and other allied professionals.</p>
                                    <p class="text">Features include practice management, electronic health records, patient engagement, and diagnosis and treatment management that all work together to automate practice workflow.</p>
                                    <p class="text"></p>
                                    <p class="text"></p>-->
                                    
                            </div>
                            </div>
                            <div class="col-md-12">
                                    <div class="single-service">
                                            <h1>Drop Your Message</h1>
                                        <div class="row">
                                           
                                           <div class="col-md-6">
                                               <div class="form-group">
                                                 <label for="">Name*</label>
                                                 <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="entar your name">
                                                 <label for="">Email*</label>
                                                 <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="entar your Email">
                                                 <label for="">Contact Number*</label>
                                                 <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="entar your Number">
                                               </div>
                                           </div>
                                           <div class="col-md-6">
                                               <div class="form-group">
                                                 <label for="">Message*</label>
                                                 <textarea class="form-control"  name="" id="" rows="7"></textarea>
                                               </div>
                                           </div>
                                           <button class="btn btn-primary" style="margin-left: 40%">Submit Messsage</button>
                                        
                                       </div> 
                                        
                                </div>
                                </div>



                            <div class="col-md-12">
                                    <div class="single-service">
                                            <div class="symbol">
                
                                                    <i class="fa fa-apple"></i>
                                                </div>
                                                <h3>Mentdoc Info Pvt. Ltd</h3>
                                                <p id="address">
                                                
                                                        Registered Office: 2/6, Sarvapriya Vihar, New Delhi, Delhi 110016<br>
                                                        Corporate Office: Farm No. 5, Andheria Morde, Mehrauli, Delhi 110030<br>
                                                        +91-7210444411<br>
                                                        mentdoclive@gmail.com , info@mentdoc.in<br>
                                                        HR- mentdochr@gmail.com , IT- mentdocit@gmail.com
                                                    
                                    
                                                </p>
                                                <!-- <p class="text">
                                            <span style="font-weight:bold">MentDoc</span>is an integrated medical web based application suite for mental health professionals. The services catered by MentDoc have been designed solely for different mental health professionals like neurologists, psychiatrists, clinical psychologists and other allied professionals.</p>
                                        <p class="text">Features include practice management, electronic health records, patient engagement, and diagnosis and treatment management that all work together to automate practice workflow.</p>
                                        <p class="text"></p>
                                        <p class="text"></p>-->
                                        
                                </div>
                                </div>
                       
                   
                
                </div>
            </div>
        </section>
</body>