<body>
        <nav class="navbar header-top fixed-top navbar-expand-lg  navbar-dark bg-dark">
                <a class="navbar-brand" href="#">
                    <img src="../../assets/image/logo/mentdoc-01.png" style="height: 70px;" alt="">
                </a>
                <div class="navbar-nav ml-md-auto d-md-flex sm-none">
                        <span class="leftmenutrigger"><i class="fa fa-bars" aria-hidden="true"></i></span>
                </div>
                <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav animate side-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Home
                        </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Security</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Admin</a>
                            </li>
                        </ul>
                    </div>
                    <div class="navbar-nav ml-md-auto d-md-flex d-none">
                            <span class="leftmenutrigger"><i class="fa fa-bars" aria-hidden="true"></i></span>
                        </div>
        </nav>
        <div class="main-content">
                <div class="header-bg">
                        <div class="container">
                                <section>
                                        <div class="header-part">
                                                <h3>DATA SAFETY <span>Our Top Priority</span></h3>
                                                <div class="row">
                                                        <div class="col-md-6">
                                                                <ul>
                                                                        <li>STRINGENT DATA POLICIES</li>
                                                                        <li>ROBUST DATA INFRASTRUCTURE</li>
                                                                        <li>MULTIPLE CHECKS</li>
                                                                    </ul>
                                                                    <div class="security">
                                                                            <div class="row">
                                                                                <div class="col-md-3">
                                                                                    <div class="box">
                                                                                        <img src="../../assets/image/security/images/shield2.svg" class="img-fluid" alt="security icon">
                                                                                        <span>*256-bit encryption</span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-3">
                                                                                    <div class="box">
                                                                                        <img src="../../assets/image/security/images/hippacompleint.svg" class="img-fluid" alt="security icon">
                                                                                        <span>*HIPAA compliant data centre</span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-3">
                                                                                    <div class="box">
                                                                                        <img src="../../assets/image/security/images/priscription1.svg" class="img-fluid" alt="security icon">
                                                                                        <span>*Control over prescription sharing</span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-3">
                                                                                    <div class="box">
                                                                                        <img src="../../assets/image/security/images/robustdata.svg" class="img-fluid" alt="security icon">
                                                                                        <span>*Compliant with MHA, 2017</span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        
                                                        </div>
                                                        <div class="col-md-6">
                                                                <div class="heder-img">
                                                                    <img src="../../assets/image/security/images/security.png" class="img-fluid" alt="Security" />
                                                                </div>
                                                            </div>
                                                </div>
                                        </div>
                                </section>
                        </div>
                </div>
                <section>
                        <div class="data-mixing">
                            <h3>NO CHANCE OF DATA MIXING</h3>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img src="../../assets/image/security/images/data-mix.png">
                                    </div>
                                    <div class="col-md-6">
                                        <p>MentDoc uses separate infrastructure to keep patient data completely segregated from the doctors’ data, thereby ensuring complete segregation of data.
                                            <p>
                                    </div>
                                </div>
                            </div>
                        </div>
            </section>
            <section>
                    <div class="container secure-place">
                        <h3>Secure place for your health data</h3>
                        <span class="sm-text">Keeping your data safe is at the core of every decision we make at Mentdoc.</span>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="content">
                                    <i class="fa fa-user-secret" aria-hidden="true"></i>
                                    <h4>Your data is for your eyes only</h4>
                                    <p>Anything that you share on Mentdoc is completely private. No one else can access it. We give unprecedented level of control so that only you can decide who sees what.
                                        <a href=""> <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="content">
                                    <i class="fa fa-7x fa-search-plus"></i>
                                    <h4>Your data is for your eyes only</h4>
                                    <p>Anything that you share on Mentdoc is completely private. No one else can access it. We give unprecedented level of control so that only you can decide who sees what.
                                        <a href=""> <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="content">
                                    <i class="fas fa-7x fa-fingerprint"></i>
                                    <h4>Your data is for your eyes only</h4>
                                    <p>Anything that you share on Mentdoc is completely private. No one else can access it. We give unprecedented level of control so that only you can decide who sees what.
                                        <a href=""> <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                        <div class="container-fluid data-security">
                            <h3>Team MentDoc covers all facets of Data Security</h3>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="data-security-content">
                                            <h4>Your data has only one owner: You.</h4>
                                            <p>Only you are permitted to exert control over your data. Neither MentDoc, nor any third-party can access your personal information, for any purpose/s, except those authorized by you.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="data-security-content">
                                            <h4>We never promote or advertise our products or services to yourwalk-ins</h4>
                                            <p>We never connect with your patients who walk-in for treatment, nor do we advertise our products to them, in accordance with our privacy policy. Patients can choose to connect better with their respective doctors by downloading and using the MentCom Application from Google Play Store. MentDoc also does not have access to your patients’ records’ database which is stored by MentCom.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="data-security-content">
                                            <h4>Never under any circumstances will we ever sell your data</h4>
                                            <p>We pursue utmost care towards the sensitivity of your personal health related data and take privacy of information very seriously. Collection, use and disclosure of information which has been designated as Personal Information or Sensitive Personal Data or Information’ under the SPI Rules requires your articulate consent, thereby ensuring complete safety of the data.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                            <div class="container faq">
                                <h2>FAQ's</h2>
                                <div id="accordion">
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="card-link collapsed" data-toggle="collapse" href="#collapseOne">What is Practo’s view on data security and Privacy?
                        </a>
                                        </div>
                                        <div id="collapseOne" class="collapse" data-parent="#accordion">
                                            <div class="card-body">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">What data does Practo have?
                      </a>
                                        </div>
                                        <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                            <div class="card-body">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">I am a doctor using your Ray software, what kind of access do you have to my data stored in Ray?
                        </a>
                                        </div>
                                        <div id="collapseThree" class="collapse" data-parent="#accordion">
                                            <div class="card-body">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="card-link collapsed" data-toggle="collapse" href="#collapseFour">What is Practo’s view on data security and Privacy?
                        </a>
                                        </div>
                                        <div id="collapseFour" class="collapse" data-parent="#accordion">
                                            <div class="card-body">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">What data does Practo have?
                      </a>
                                        </div>
                                        <div id="collapseFive" class="collapse" data-parent="#accordion">
                                            <div class="card-body">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="collapsed card-link" data-toggle="collapse" href="#collapseSix">I am a doctor using your Ray software, what kind of access do you have to my data stored in Ray?
                        </a>
                                        </div>
                                        <div id="collapseSix" class="collapse" data-parent="#accordion">
                                            <div class="card-body">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                
                            </div>
                        </section>
                        <section class="footer">
                                <div class="container-fluid">
                                        <div class="container">
                                                <div class="row">
                                                        <div class="col-md-6">
                                                                <address>
                                                                        <span>Mentcom Infotech Pvt. Ltd.</span>
                                                                            <p><b>Registered Office:</b> 2/6, Sarvapriya Vihar, New Delhi, Delhi 110016
                                                                            <b>Corporate Office:</b> Farm No. 5, Andheria Morde, Mehrauli, Delhi 110030
                                                                                +91-7210444411
                                                                                mentdoclive@gmail.com , info@mentdoc.in
                                                                                HR- mentdochr@gmail.com , IT- mentdocit@gmail.com<p>
                                                                    </address>
                                                        </div>
                                                </div>
                                                <div class="row">
                                                        <div class="footer-text">
                                                            &copy; 2019 All rights reserved.
                                                        </div>
                                                    </div>
                                        </div>
                                </div>
                        </section>
        </div>
</body>