<section class="blog_part section_padding">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="section_tittle text-center">
                    <h2>Secure place for your health data</h2>
                    <p>Keeping your data safe is at the core of every decision we make at Mentdoc.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 col-xl-4">
                <div class="single-home-blog">
                    <div class="card">
                            <i class="fa fa-7x fa-user-secret"></i>
                        <div class="card-body">
                            <!-- <ul>
                                <li> <span class="ti-user"></span>Jhon mike</li>
                                <li> <span class="ti-bookmark"></span>Clinic, doctors</li>
                            </ul> -->
                            <a href="blog.html">
                                <h5 class="card-title">Your data is for your eyes only</h5>
                            </a>
                            <p>Anything that you share on Mentdoc is completely private. No one else can access it. We give unprecedented level of control so that only you can decide who sees what.</p>
                            <a href="#" class="blog_btn">read more</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-4">
                    <div class="single-home-blog">
                        <div class="card">
                                <i class="fa fa-7x fa-search-plus"></i>
                            <div class="card-body">
                                <!-- <ul>
                                    <li> <span class="ti-user"></span>Jhon mike</li>
                                    <li> <span class="ti-bookmark"></span>Clinic, doctors</li>
                                </ul> -->
                                <a href="blog.html">
                                    <h5 class="card-title">Everything is protected with 256-bit encryption                                                </h5>
                                </a>
                                <p>Mentdoc uses world-class standards to shield your data from unauthorised intrusion. It is always protected with multiple layers of encryption (256-bit encryption over the network).
                                    </p>
                                <a href="#" class="blog_btn">read more</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-4">
                        <div class="single-home-blog">
                            <div class="card">
                                    <i class="fas fa-7x fa-fingerprint"></i>
                                <div class="card-body">
                                    <!-- <ul>
                                        <li> <span class="ti-user"></span>Jhon mike</li>
                                        <li> <span class="ti-bookmark"></span>Clinic, doctors</li>
                                    </ul> -->
                                    <a href="blog.html">
                                        <h5 class="card-title">2-factor authentication prevents unauthorised access    </h5>
                                    </a>
                                    <p>Extra measures are good. Therefore, we let you enable 2-factor authentication so that your data is absolutely secure and no one else can access it except you.
                                        </p>
                                    <a href="#" class="blog_btn">read more</a>
    
                                </div>
                            </div>
                        </div>
                    </div>
                 
        </div>
    </div>
</section>