<div class="owl-carousel">
             
          <div class="container">
               <div class="row">
                     <div class="col-md-4">
                  <div class="profile">
                      <img src="../../../../assets/image/team/gorav_we_listen.png" class=user>
                      <blockquote>
                          MentDoc is an excellent platform for any psychiatrist as it has been designed carefully keeping the needs of the mental health professionals in mind. I can manage my appointments in a digital manner across different clinics of Tulasi Healthcare.
                      </blockquote>
                      <h3>Dr.Gorav Gupta</h3><span>Consultant Psychiatrist</span>
                  </div>
              </div>
          </div>
        </div>
        <div class="container">
                <div class="row">
                      <div class="col-md-4">
                   <div class="profile">
                       <img src="../../../../assets/image/team/gorav_we_listen.png" class=user>
                       <blockquote>
                           MentDoc is an excellent platform for any psychiatrist as it has been designed carefully keeping the needs of the mental health professionals in mind. I can manage my appointments in a digital manner across different clinics of Tulasi Healthcare.
                       </blockquote>
                       <h3>Dr.Gorav Gupta</h3><span>Consultant Psychiatrist</span>
                   </div>
               </div>
           </div>
         </div>
         <div class="container">
                <div class="row">
                      <div class="col-md-4">
                   <div class="profile">
                       <img src="../../../../assets/image/team/gorav_we_listen.png" class=user>
                       <blockquote>
                           MentDoc is an excellent platform for any psychiatrist as it has been designed carefully keeping the needs of the mental health professionals in mind. I can manage my appointments in a digital manner across different clinics of Tulasi Healthcare.
                       </blockquote>
                       <h3>Dr.Gorav Gupta</h3><span>Consultant Psychiatrist</span>
                   </div>
               </div>
           </div>
         </div>       
      
    
  </div>

  



