<!-- <div class="owl-carousel">
             
          <div class="container">
               <div class="row">
                     <div class="col-md-4">
                  <div class="profile">
                      <img src="../../../../assets/image/team/gorav_we_listen.png" class=user>
                      <blockquote>
                          MentDoc is an excellent platform for any psychiatrist as it has been designed carefully keeping the needs of the mental health professionals in mind. I can manage my appointments in a digital manner across different clinics of Tulasi Healthcare.
                      </blockquote>
                      <h3>Dr.Gorav Gupta</h3><span>Consultant Psychiatrist</span>
                  </div>
              </div>
          </div>
        </div>
        <div class="container">
                <div class="row">
                      <div class="col-md-4">
                   <div class="profile">
                       <img src="../../../../assets/image/team/gorav_we_listen.png" class=user>
                       <blockquote>
                           MentDoc is an excellent platform for any psychiatrist as it has been designed carefully keeping the needs of the mental health professionals in mind. I can manage my appointments in a digital manner across different clinics of Tulasi Healthcare.
                       </blockquote>
                       <h3>Dr.Gorav Gupta</h3><span>Consultant Psychiatrist</span>
                   </div>
               </div>
           </div>
         </div>
         <div class="container">
                <div class="row">
                      <div class="col-md-4">
                   <div class="profile">
                       <img src="../../../../assets/image/team/gorav_we_listen.png" class=user>
                       <blockquote>
                           MentDoc is an excellent platform for any psychiatrist as it has been designed carefully keeping the needs of the mental health professionals in mind. I can manage my appointments in a digital manner across different clinics of Tulasi Healthcare.
                       </blockquote>
                       <h3>Dr.Gorav Gupta</h3><span>Consultant Psychiatrist</span>
                   </div>
               </div>
           </div>
         </div>       
      
    
  </div>

  


 -->


 
        
 <section class="testimonial">
    <div class="container">

        <h1>Testimonials</h1>
        <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
        <!--Indicators-->
<ol class="carousel-indicators">
<li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
<li data-target="#multi-item-example" data-slide-to="1"></li>
<li data-target="#multi-item-example" data-slide-to="2"></li>
</ol>
<!--/.Indicators-->

<div class="carousel-inner">

    <!--First slide-->
 
        <!--first slide-->
        <div class="carousel-item active">
        <div class="row">
               
           
        <div class="col-md-4">
            <div class="profile">
                <img src="../../../../assets/image/team/gorav_we_listen.png" class=user>
                <blockquote>
                    MentDoc is an excellent platform for any psychiatrist as it has been designed carefully keeping the needs of the mental health professionals in mind. I can manage my appointments in a digital manner across different clinics of Tulasi Healthcare.
                </blockquote>
                <h3>Dr.Gorav Gupta</h3><span>Consultant Psychiatrist</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="profile">
                <img src="../../../../assets/image/team/gorav_we_listen.png" class=user>
                <blockquote>
                    MentDoc is an excellent platform for any psychiatrist as it has been designed carefully keeping the needs of the mental health professionals in mind. I can manage my appointments in a digital manner across different clinics of Tulasi Healthcare.
                </blockquote>
                <h3>Dr.Gorav Gupta</h3><span>Consultant Psychiatrist</span>
            </div>
        </div>
        
    

        <div class="col-md-4">
            <div class="profile">
                <img src="../../../../assets/image/team/gorav_we_listen.png" class=user>
                <blockquote>
                    MentDoc is an excellent platform for any psychiatrist as it has been designed carefully keeping the needs of the mental health professionals in mind. I can manage my appointments in a digital manner across different clinics of Tulasi Healthcare.
                </blockquote>
                <h3>Dr.Gorav Gupta</h3><span>Consultant Psychiatrist</span>
            </div>
        </div>
    
    </div>
</div>
    
    <!--second slide-->
    <div class="carousel-item">
    <div class="row">
            
            <div class="col-md-4">
                <div class="profile">
                    <img src="../../../../assets/image/team/gorav_we_listen.png" class=user>
                    <blockquote>
                        MentDoc is an excellent platform for any psychiatrist as it has been designed carefully keeping the needs of the mental health professionals in mind. I can manage my appointments in a digital manner across different clinics of Tulasi Healthcare.
                    </blockquote>
                    <h3>Dr.Gorav Gupta</h3><span>Consultant Psychiatrist</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="profile">
                    <img src="../../../../assets/image/team/Naveen_we_listen.png" class=user>
                    <blockquote>
                        MentDoc is an excellent platform for any psychiatrist as it has been designed carefully keeping the needs of the mental health professionals in mind. I can manage my appointments in a digital manner across different clinics of Tulasi Healthcare.
                    </blockquote>
                    <h3>Dr.Gorav Gupta</h3><span>Consultant Psychiatrist</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="profile">
                    <img src="../../../../assets/image/team/Raashi_we_listen.jpg" class=user>
                    <blockquote>
                        MentDoc is an excellent platform for any psychiatrist as it has been designed carefully keeping the needs of the mental health professionals in mind. I can manage my appointments in a digital manner across different clinics of Tulasi Healthcare.
                    </blockquote>
                    <h3>Dr.Gorav Gupta</h3><span>Consultant Psychiatrist</span>
                </div>
            
            
        </div>
        </div>
    </div>
        <!--third slide-->
        <div class="carousel-item">
        <div class="row">
                
                <div class="col-md-4">
                    <div class="profile">
                        <img src="../../../../assets/image/team/gorav_we_listen.png" class=user>
                        <blockquote>
                            MentDoc is an excellent platform for any psychiatrist as it has been designed carefully keeping the needs of the mental health professionals in mind. I can manage my appointments in a digital manner across different clinics of Tulasi Healthcare.
                        </blockquote>
                        <h3>Dr.Gorav Gupta</h3><span>Consultant Psychiatrist</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="profile">
                        <img src="../../../../assets/image/team/gorav_we_listen.png" class=user>
                        <blockquote>
                            MentDoc is an excellent platform for any psychiatrist as it has been designed carefully keeping the needs of the mental health professionals in mind. I can manage my appointments in a digital manner across different clinics of Tulasi Healthcare.
                        </blockquote>
                        <h3>Dr.Gorav Gupta</h3><span>Consultant Psychiatrist</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="profile">
                        <img src="../../../../assets/image/team/gorav_we_listen.png" class=user>
                        <blockquote>
                            MentDoc is an excellent platform for any psychiatrist as it has been designed carefully keeping the needs of the mental health professionals in mind. I can manage my appointments in a digital manner across different clinics of Tulasi Healthcare.
                        </blockquote>
                        <h3>Dr.Gorav Gupta</h3><span>Consultant Psychiatrist</span>
                    </div>
                </div>
            </div>
            </div>
</div>
        </div>
    
    </div>

</section>