.modals{
    box-shadow:0 5px 15px rgba(0,0,0,.5);
    width: 100%;
    padding: 10px;
    background-color: #fff;
}

.single-service h3{
    color:#333;
    line-height: 1.1em;
    font-size: 14px;
    font-family: sans-serif;
    margin-left: 25px;
    text-decoration: underline;
}
.text {
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
}
p{
    color: #333;
    font-size: 13px;
    margin:0 0 10px;
    font-family: 'Open Sans',Arial,sans-serif;
    font-weight: 300;
}
