.banner_item{
    margin:50px;
    margin-top: 50px;
  }
  .left-part{
    width: 100%
  }
  .single_item{
    padding: 5px;
    margin: 10px;
    margin-left: 25px;
    margin-top: 50px;
      
  }
  .single_item img{
    height: 50px;
    margin-left: 10%;
  
  
  }
  .single_item h5{
  margin-top: 10px;
  }
  .banner-image img{
    margin-top: -50px;
    width: 100%; 
  }
  @media only screen and (min-width: 68px) and (max-width: 1190px) {
    .left-part span{
      
      display: flex;
    }
  }

  @media only screen and (max-width: 420px) {
    .mob{
      margin-left: 30%;
    }
    li span{
      font-size: 15px;
      text-align: center;
      
    }
    .banner_item img{
      margin-left: 30%
    }
  }