<section>
    <div class="container-fluid">
        <h2 style="color: black;font-size: 34px;text-align: center" >DATA SAFETY: Our Top Priority</h2>
        <div class="row" style="width: 100%">
            <div  class="col-lg-6 col-xl-6 col-md-6 col-sm-12 left-part">
                <ul style="padding: 20px">
                    <li style="font-size: 25px">
                        <!-- <i class="fas fa-balance-scale-right"  style="color: #f23d80" aria-hidden="true"></i> -->
                        <img class="mob" style="height: 40px;width: 78px" src="../../../../assets/image/security/insurance.svg">
                        <span style="margin-left: 20px;color: #f23d80">STRINGENT DATA POLICIES</span>
                    </li>
                    <hr>
                    <li  style="font-size: 25px">
                        <img class="mob" style="height: 40px;width: 78px" src="../../../../assets/image/security/db1.svg">
                        <span style="margin-left: 20px;color: #f23d80">ROBUST DATA INFRASTRUCTURE</span>
                    </li>
                    <hr>
                    <li style="font-size: 25px">
                        <img class="mob" style="height: 40px;width: 78px" src="../../../../assets/image/security/multiplecheck.svg">
                        <span style="margin-left: 20px;color: #f23d80">MULTIPLE CHECKS</span>
                    </li>
                   
                </ul>
                <div class="banner_item"  >
                                <div class="row">
                                    <div class="single_item col-md-3 col-lg-2 col-sm-6 "   >
                                        <img src="../../../../assets/image/security/shield2.svg" alt="">
                                        <h5>*256-bit encryption</h5>
                                    </div>
                                    <div class="single_item col-md-3 col-lg-2 col-sm-6"   >
                                        <img src="../../../../assets/image/security/hippacompleint.svg" alt="">
                                        <h5>*HIPAA compliant data centre</h5>
                                    </div>
                                    <div class="single_item col-md-3 col-lg-2 col-sm-6"   >
                                        <img src="../../../../assets/image/security/priscription1.svg" alt="">
                                        <h5>*Control over prescription sharing</h5>
                                    </div>
                                    <div class="single_item col-md-3 col-lg-2 col-sm-6  "   >
                                        <img src="../../../../assets/image/security/robustdata.svg" alt="">
                                        <h5>*Compliant with MHA, 2017</h5>
                                    </div>
                                </div>
                            </div>
            </div>
            <div class="col-lg-6 col-xl-6 col-md-6 col-sm-12">
                        <div class="banner-image">
                            <img src="../../../../assets/image/security/mentdoc-security.png" alt="">
                        </div>
            </div>
        </div>
    </div>
</section>