
<section class="privacy">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h5>
                    <strong>
                        <u>
                            privacy policy
                        </u>
                    </strong>
                </h5>  
                    <p id="text">MentDoc , MentCom & Enrich value your Privacy. In this Privacy Policy mentioned hereinunder, we describe the information we collect about you, when you access the said website and when you start using the services of the said website and all the other services available on the said website. The said privacy policy describes the usage and disclosure of information provided by you on the said website and its application(s), platform(s), domain(s) and/or sub-domain(s) in relation to the said website.</p>
                    <p id="text">That the said Privacy Policies have been formulated in consonance to the law as laid down under the Information Technology (Amendment) Act, 2008 along with Rules, 2011 and the Information Technology (Reasonable Security Practices and Procedures and Sensitive Personal Data or Information) Rules, 2011 and any such relevant/recent law enforceable at the time of registration of such complaint and that any grievance regarding the same may be reached out to the person(s) concerned in the Contact Us Section mentioned in the said website. The said grievance shall be redressed within a period of 30 day(s).

                    </p>
                    <ol id="orderList" type="A" style="color:black;">
                        <li><p id="text">
                        Personal Information such as name, address, email id, phone number(s) etc., construes any data, 
                        information which means and includes any information which may readily identify you or to contact 
                        you. We collect the said information from you and all the other Medical Professionals offering their 
                        services on the said website which is only accessible between you and your concerned doctor on the 
                        said website.
                        </p>
                        </li>
                        <li><p id="text">
                            Personal Information such as name, address, email id, phone number(s) etc., construes any data, 
                            information which means and includes any information which may readily identify you or to contact 
                            you. We collect the said information from you and all the other Medical Professionals offering their 
                            services on the said website which is only accessible between you and your concerned doctor on the 
                            said website.
                            </p>
                        </li>
                        <li><p id="text">
                                Personal Information such as name, address, email id, phone number(s) etc., construes any data, 
                                information which means and includes any information which may readily identify you or to contact 
                                you. We collect the said information from you and all the other Medical Professionals offering their 
                                services on the said website which is only accessible between you and your concerned doctor on the 
                                said website.
                                </p>
                                </li>
                        <li><p id="text">
                                    Personal Information such as name, address, email id, phone number(s) etc., construes any data, 
                                    information which means and includes any information which may readily identify you or to contact 
                                    you. We collect the said information from you and all the other Medical Professionals offering their 
                                    services on the said website which is only accessible between you and your concerned doctor on the 
                                    said website.
                                    </p>
                        </li>
                        <li><p id="text">
                                        Personal Information such as name, address, email id, phone number(s) etc., construes any data, 
                                        information which means and includes any information which may readily identify you or to contact 
                                        you. We collect the said information from you and all the other Medical Professionals offering their 
                                        services on the said website which is only accessible between you and your concerned doctor on the 
                                        said website.
                    </p>
                                        </li>
                                        <li><p id="text">
                                            Personal Information such as name, address, email id, phone number(s) etc., construes any data, 
                                            information which means and includes any information which may readily identify you or to contact 
                                            you. We collect the said information from you and all the other Medical Professionals offering their 
                                            services on the said website which is only accessible between you and your concerned doctor on the 
                                            said website.
                                            </p>
                                            </li>
                       
                      <li>
                          <p id="text">
                            <strong>
                                <u>
                                    SOCIAL MEDIA NETWORKING SITES AND COLLECTION OF DATA
                                </u>
                            </strong>
                          </p>
                          <p id="text">
                            It is also submitted that for the simplicity of registration into the said website, you may 
                            also log into through your Facebook or Google or any other social media networking account. 
                            In such conditions, the said website may create a third party right to access the information 
                            of any such social media networking account and you shall also do the same by logging into the 
                            said social media networking account in order to access and collect the Data/information. The said 
                            information shall or may include, your name, age, description, profile picture and any such information 
                            made accessible by you to the third-party users. If you allow such access to this information, then the 
                            said website shall have access to all the information provided by you even if you have not specifically 
                            chosen the information to make it public. Such information in relation to the social media networking 
                            sites shall be read in consonance to the privacy policies formulated in such Social Media Networking 
                            Accounts and Websites and we are not accountable for any breach. 
                          </p>
                      </li>       
                      <li>
                        <p id="text">
                          <strong>
                              <u>
                                    COLLECTION OF DATA AUTOMATICALLY AND COOKIES AND OTHER TRACKING DEVICES
                              </u> 
                            </strong>
                            </p>     
                        
                          <p id="text">
                            It is also submitted that for the simplicity of registration into the said website, you may 
                            also log into through your Facebook or Google or any other social media networking account. 
                            In such conditions, the said website may create a third party right to access the information 
                            of any such social media networking account and you shall also do the same by logging into the 
                            said social media networking account in order to access and collect the Data/information. The said 
                            information shall or may include, your name, age, description, profile picture and any such information 
                            made accessible by you to the third-party users. If you allow such access to this information, then the 
                            said website shall have access to all the information provided by you even if you have not specifically 
                            chosen the information to make it public. Such information in relation to the social media networking 
                            sites shall be read in consonance to the privacy policies formulated in such Social Media Networking 
                            Accounts and Websites and we are not accountable for any breach. 
                          </p>
                          </li>
                              <p>
                              <strong>
                                  <u>
                                        CLEAR GIFS, PIXEL TAGS AND OTHER TECHNOLOGIES.
                                  </u>
                              </strong>
                          </p>
                          <p id="text">
                                    "Clear GIFs are tiny graphics with a unique identifier, similar in function to cookies. In contrast to cookies, which are stored on your computer's hard drive, clear GIFs are embedded invisibly on web pages. We may use clear GIFs (a.k.a. web beacons, web bugs or pixel tags), in connection with our Website to, among other things, track the activities of Website visitors, help us manage content, and compile statistics about Website usage. We and our third-party service providers also use clear GIFs in HTML emails to our customers, to help us track email response rates, identify when our emails are viewed, and track whether our emails are forwarded."
                          </p>
                         
                          
                      
                    
                    
                    
                    <li>
                    <strong>
                        <u>
                                LINKS FROM THIS WEBSITE
                        </u>
                    </strong>
                    <p id="text">
                            We do not monitor or review the content of other party's websites which are linked to from this website. Opinions expressed or materials appearing on such websites are not necessarily shared or endorsed by us and should not be regarded as the publisher of such opinions or material. Please be aware that we are not responsible for the privacy practices, or content, of these sites. We encourage our users to be aware when they leave our site & to read the privacy statements of such sites. You should evaluate the security and trustworthiness of any other site connected to this site or accessed through this site yourself, before disclosing any personal information to them.

                          
                    </p>
                    <p id="text">
                            We will not accept any responsibility for any loss or damage in whatever manner, howsoever caused, resulting from your disclosure to third parties of personal information. However, the T&C and privacy policy herein are extended for our partner sites/ links.
                    </p>
                    </li>
                    <li>
                        <p id="text">
                            <strong>
                                <u>
                                    USAGE OF INFORMATION COLLECTED
                                </u>
                            </strong>
                        </p>
                        <p id="text">
                                This section signifies and explains the usage of information and personal data collected from you for the purposes of the services of the said website and the application(s) or domain(s) related to the said website. The personal information collected is primarily for:   

                        </p>
                    
                    
                    <ol id="orderList" type="a" style="color:black;">
                    <li><p id="text1">Collection of Information and to aggregate the information about the use of 
                        the website and services so as to understand the concerns and needs of its users and to provide 
                            the best quality of services;</p></li> 
                    <li><p id="text1">Primarily for Data Entry, Registration, Verification, Authentication and for 
                        the Authorisation of Services and to enable the said website to provide services;</p></li>
                    <li><p id="text1">For prompt responses and to have a better customer support system with its users in 
                            order to improve the best standards of the website;</p></li>
                    <li><p id="text1">To improve and maintain the best standards of services of the websites and to track 
                            information as and when the customer requires such information. Such information is also used to send 
                            emails and responses regarding promotions, offers or for the variety in services provided by the said 
                        website and its applications.</p></li>
                    <li><p id="text1">Such information shall also be used for delivery of certain services to your 
                        location if needed and also to contact you via email, phone, or mail or text message as and when 
                        necessary in order to effectively resolve disputes and to maintain absolute accuracy of information 
                        regarding a certain individual for future purposes and for the purposes of record. </p></li>
                    </ol>
                    <p id="text">
                        Such information as specified above may be used for unanticipated purposes, not in the limitations 
                        of the said website and its other related application(s) and platform(s). If our information practices 
                        change regarding information previously collected, MentDoc &amp; MentCom shall make reasonable efforts 
                        to provide notice and to obtain consent of any such use as may be required by law.  
                </p>
            </li>
            <li>
                <p id="text">
                    <strong>
                        <u>
                            USAGE OF PERSONAL INFORMATION FOR POLLS, SURVEYS, NEWSLETTER AND INVITATIONS
                        </u>
                    </strong>
                </p>

                <p id="text">
                    At the sole discretion of MentDoc, MentCom &amp; Enrich we may offer an electronic newsletter via email to 
                    all our users who have signed up and have accounts in the said website and other applications and domains 
                    related to the said website. At the discretion of the user/medical practitioner or any user whatsoever, 
                    the user may from time to time subscribe or unsubscribe to the said newsletter by changing preferences 
                    on their Account. Such information shall also be used for the purposes of Survey and with an intention 
                    to target better customers. Such individual responses from these surveys shall not be shared with third 
                    party users or any legal entity whatsoever. Such data is only for the purposes of compilation of data 
                    and shall only be shared with their partners and the service providers for the purposes of ensuring 
                    best quality services.
                </p>
            </li>
            <li>
                <p id="text">
                    <strong>
                        <u>
                            DISCLOSURE OF INFORMATION
                        </u>
                    </strong>
                </p>
                <p id="text">
                    Any such information provided by the user shall be disclosed in circumstances in which MentDoc, MentCom & Enrich or its applications or other platforms have a reason to believe that such disclosure is a necessity in order to comply with the established legal procedure, or court order or warrant or any other legal requirement. Such information shall also be disclosed in an event in which a Governmental Authority may want the Legal Entity to appear before the said authority or for the purposes of any such act that shall potentially avoid a lawsuit against the said website or applications related to it.
                </p>
                <p id="text">
                    In circumstances wherein, such personal information is shared with third party service providers in order to comply with the terms and conditions and in order to maintain the said website and the services provided thereof. In order to procure the best of the best services, MentDoc , MentCom & Enrich may need to disclose your personal information and data generated in cookies. Further, such information shall not be used by the third-party service providers and that they shall not have any right to use your information on any other platform by such third-party service provider.
                </p>
                <p id="text">
                    Information and data collected on this website shall also be disclosed to any governmental authority or the competent court of law as and when required in order to comply with the established law and procedure. The same is followed in order to avoid fraudulent complaints, to comply with law enforcement authorities and also other investigating bodies.
                </p>
                <p id="text">
                    In case of Bankruptcy or Insolvency or reorganization or any other law applicable in force, MentDoc, MentCom & Enrich shall not be liable and shall not be in control of how your information is transmitted or transferred or is used or treated and reserves such rights to transfer the information that has been collected in the said website in the occurrence of any such event.
                </p>
                <p id="text">
                    Further it shall also be noted that upon the request of the users of any Professional or a patient as mentioned above, MentDoc, MentCom & Enrich shall share personal information with other Registered users or with any other person whomsoever explicitly stated by you through an OTP sharing procedure or with your consent and to such disclosure there shall be a written receipt from the server of the said website.
                </p>
            </li>

            <li>
                <p id="text">
                    <strong>
                        <u>
                            MODIFICATION/DELETION AND AMENDING YOUR DATA
                        </u>
                    </strong>
                </p>
                <p id="text">
                    The Professionals/ Users and its Medical Practitioners reserve their right to amend or modify or change or delete their Personal Data from the said website as and when necessary by clicking on the Edit Profile Section. In case the user wishes to delete any such information or personal data from his/her profile which forms a requisite to be a part of the said website, but fails to do so, shall be liable to delete their account from the said website. The same is done in order to secure the privacy and safety of all the registered users on our website. In case of deletion of the Account you shall be solely responsible for any such deletion of personal data/information from the said account and MentDoc , MentCom & Enrich shall not hold any liability qua the same.
                </p>
            </li>
            <li>
                <p id="text">
                    PROTECTION OF YOUR ACCOUNT FROM POTENTIAL HACKERS AND INTERNET FRAUD
                </p>
                <p id="text">
                    In order to ensure security we have separate registered accounts for every user which is password protected. While creating the said password, it is important that a unique combination of words, letters, alphabets, numbers, symbols and special characters are to be used, which ought not to be disclosed to anyone else other than the sole legal entity on whose name the account is being registered. In event of any such failure, the Account holder/user shall solely be responsible for any divulgence of information and the said website shall hold no liability towards such a negligent act of its users. THUS IF YOUR PASSWORD IF COMPROMISED FOR ANY SUCH REASON OUT OF YOUR KNOWLEDGE, IT IS STRONGLY RECOMMENDED FOR YOU TO CHANGE YOUR PASSWORD.
                </p>
            </li>
            <p id="text"><strong><u>
                THE SAID PRIVACY POLICY UPDATE WITH EFFECT FROM ___1st June, 2018_IS SET FORTH AS ABOVE AND IS 
                IN THE SOLE AND ABSOLUTE DISCRETION OF MENTDOC AND MENTCOM AND THAT ANY CHANGE IN SUCH POLICIES 
                SHALL BE DONE ONLY BY MENTDOC AND MENTCOM. THE SAID WEBSITE SHALL POST ANY SUCH REVISED POLICIES 
                AT ANY POINT OF TIME WITHOUT INTIMATING THE USER/PRACTITIONER/PROFESSIONAL/PATIENT ABOUT THE SAME. 
                MENTDOC, MENTCOM AND ENRICH JOINTLY RECOMMEND AND ENCOURAGE YOU TO REVIEW AND RECHECK THE PRIVACY 
                POLICY REGULARLY IN ORDER TO KEEP TRACK OF THE SAME AND THAT YOUR CONTINUED USE OF THE SAID WEBSITE(S) 
                AND/OR CONTINUED PROVISION OF PERSONAL INFORMATION WITH US WILL BE SUBJECT TO THE REVISED TERMS OR THE 
                CURRENT PRIVACY POLICIES OF MENTDOC, MENTCOM and ENRICH. 
                </u></strong>  
                </p>

                                        </ol>

                    
                  
            </div>
        </div>
    </div>
</section>
