<section>
    <div class="card" id="cardHeader" >
        <h1>HOME / BLOG</h1>
    </div>
    <div style="margin-top: 5px;" class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card" id="blog" >
                        <img class="card-img-top" src="../../assets/image/blog/blog_ehr.jpg" alt="">
                        <div class="card-body">
                            <h4 class="card-title">ELECTRONIC HEALTH RECORDS AND ITS BENEFITS</h4>
                            
                        </div>
                </div>
            </div>
            <div class="col-md-4">
                    <div class="card" id="blog" >
                            <img class="card-img-top" src="../../assets/image/blog/blog_sd.jpg" alt="">
                            <div class="card-body">
                                <h4 class="card-title">DAILY HABITS CAUSING STRESS</h4>
                                
                            </div>
                    </div>
            </div>
            <div class="col-md-4">
                    <div class="card" id="blog" >
                            <img class="card-img-top" src="../../assets/image/blog/blog_stress.jpg" alt="">
                            <div class="card-body">
                                <h4 class="card-title">How To Overcome Insomnia</h4>
                                
                            </div>
                    </div>
            </div>
        </div>
    </div>
</section>